/LongMethod/nbproject/private/
/LongMethod/build/
/LargeClass/nbproject/private/
/PrimitiveObsession/nbproject/private/
/DataClumps/nbproject/private/
/DataClumps/build/
/SwitchStatements/nbproject/private/
/SwitchStatements/build/
/RefusedBequest/nbproject/private/